.button {
  display: inline-flex;
  align-items: center;
  height: 4.8rem;
  font-size: 1.6rem;
  border: 1px solid $primary;
  border-radius: 0.4rem;
  color: red;
  padding: 0 60px;
  text-decoration: none;
  cursor: pointer;

  &--primary {
    color: $background;
    background: $primary;
  }

  &--secondary {
    color: $primary;
    background: $background;
  }

  &--link {
    color: $primary;
    background: none;
    border: none;
    font-weight: 700;
    padding: 0;
  }

  &--icon {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    padding: 0;
    border: none;
    background-color: $gray2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
  }

  &--delete {
    background-image: url('../images/trash-fill.svg');
  }

  &--edit {
    background-image: url('../images/pencil-fill.svg');
  }
}
