.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;

  &--align-center {
    align-items: center;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  &--fluid {
    margin: 0 auto;
    max-width: 1400px;
  }
}

@each $modifier , $breakpoint in $map-grid-props {
  @include create-col-classes($modifier, $grid__cols, $breakpoint);
}
