.table {
  width: 100%;
  border-spacing: 0 2rem;

  &__row {
    > * {
      vertical-align: middle;
    }
  }

  &__header {
    text-align: left;
  }

  &__price {
    font-weight: 700;
  }
  
  &__actions {
    text-align: right;
  }
}