// grid columns columns
$grid__cols: 12;

// breakpoints
$grid__bp-xs: 0;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;

$map-grid-props: (
  'xs': $grid__bp-xs,
  'sm': $grid__bp-sm,
  'md': $grid__bp-md,
  'lg': $grid__bp-lg,
  'xl': $grid__bp-xl
);
