@import 'normalize';
@import 'variables';
@import 'colors';
@import 'mixins';
@import 'root';
@import 'grid';
@import 'utilities';
@import 'typography';
@import 'buttons';
@import 'table';
@import 'navigation';

img {
  max-width: 100%;
}

ul {
  margin: 2.5rem 0;

  li {
    margin: 2rem 0;
  }
}

.slide {
//  background: url('assets/images/safe-travels.jpg') 0 0 no-repeat;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11rem;
}

.branding {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $primary;
  font-weight: 700;
  font-size: 2.4rem;

  .logo {
    display: inline-flex;
    width: 5.2rem;
    height: 5.2rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 3rem;
  }
}

.explore {
  &__image {
    position: relative;
    margin-bottom: 4rem;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
      border: 1px solid green;
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 2rem;
    text-align: center;
  }
}

.footer {
  background: $gray1;
  padding: 7rem 0;
  font-size: 1.6rem;

  .title {
    font-size: 1.6rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    color: $primary;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  font-size: 1.6rem;

  &__item {
    margin: 0.1rem 0;
  }

  &__tab {
    display: inline-flex;
    align-items: center;
    height: 4rem;
    background: $gray2;
    padding: 0 4.5rem;
    border: none;
    border-radius: 0;
    width: 100%;

    &--active {
      background: $primary;
      color: $background;
    }
  }

  @media screen and (min-width: $grid__bp-lg *1px) {
    flex-direction: row;
    justify-content: center;

    &__item {
      margin: 0 1rem;
    }

    &__tab {
      border-radius: 1rem;
    }
  }
}

.form {
  font-size: 1.6rem;

  &__label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  &__input,
  &__textarea {
    height: 4.5rem;
    width: 100%;
    border: 1px solid $primary;
    padding: 0 2rem;
  }

  &__textarea {
    padding: 2rem;
    height: 20rem;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 2.5rem 0;

    label {
      display: block;
      margin-bottom: 1rem;
    }
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(200, 200, 200, 0.8);

  &__inner {
    position: relative;
    border: 1px solid $primary;
    border-radius: 2rem;
    background: $background;
    padding: 4rem 4rem;
  }

  &__header {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
  }

  &__actions {
    text-align: center;
  }

  &__close {
    font-size: 3rem;
    font-family: sans-serif;
    line-height: 1;
    border: none;
    background: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
}

.error {
  display: block;
  color: $error;
  margin: 1rem 0;
  font-size: 1.6rem;
}

.screenreader-only {
  position: absolute;
  top: 0;
  left: -9999px;
  transform: translateX(-100%);
}
